{% extends 'base.html' %}
{% load myphoto_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for product in products %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name}}</h4>
                    </div>
                    <div class="card-body">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:products_detail' product.pk %}">
                        <img class="card-img-top" src="{{ product.image | mymedia }}">
                    </a>
                        <h1 class="card-title pricing-card-title">${{ product.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            {{ product.description|slice:":100" }}{% if product.description|length > 100 %}...{% endif %}
                        </ul>
                       
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}