{% extends 'catalog/base.html' %}
{% load myphoto_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">

            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name}}</h4>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="{{ object.image | mymedia }}">
                        
                        <h1 class="card-title pricing-card-title">${{ object.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            {{ object.description|slice:":100" }}{% if object.description|length > 100 %}...{% endif %}
                        </ul>
                        

                       
                    </div>

                   

                    
                </div>
            </div>
       
    </div>
</div>
{% endblock %}